spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gotask
    username: docker
    password: docker
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  security:
    jwt-secret: c9d0b67e54093f5dc2e60af7f94dbdf2